body {
  background-color: #eee5d7 !important;
  font-family: "Pixelify Sans", sans-serif !important;
}
/* Pokemon Type by Color */
#fire {
  background-color: red !important;
}

#grass {
  background-color: green !important;
}

#poison {
  background-color: blueviolet !important;
}

#water {
  background-color: blue !important;
}

#electric {
  background-color: #dada17e4 !important;
  color: #000 !important;
}

#ground {
  background-color: brown !important;
}

#normal {
  background-color: grey !important;
}

#flying {
  background-color: #92b1c6 !important;
}

#bug {
  background-color: olive !important;
}

#dark {
  background-color: darkgray !important;
}

#fighting {
  background-color: #ee6037 !important;
}

#psychic {
  background-color: #f71b90 !important;
}

#rock {
  background-color: #8a3d20 !important;
}

#steel {
  background-color: #41bc93 !important;
}

#ice {
  background-color: #85d1f4 !important;
}

#dragon {
  background-color: #438a94 !important;
}
/* //////////// */

/* Logo */
.logo {
  display: flex !important;
  justify-content: center !important;
}
/* //////////// */
/* Pokemon Card */
.pokemonList {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  gap: 20px !important;
}

.card {
  background-color: #ecdcc5 !important;
}
.card-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}





/* //////////// */
/* New Pokedex Entry */

.new-pokedex-entry {
  position: relative;
  width: 300px;
}

.new-pokedex-entry input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.new-pokedex-entry button {
  margin-top: 8px;
}

.suggestions-list {
  top: 100%;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.suggestions-list li:hover {
  background-color: #ecdcc5;
}
