body {
  background-color: #ccf5f3 !important;
  font-family: "Pixelify Sans", sans-serif !important;
}
/* Pokemon Type by Color */
#fire {
  background-color: red !important;
}

#grass {
  background-color: green !important;
}

#poison {
  background-color: blueviolet !important;
}

#water {
  background-color: blue !important;
}

#electric {
  background-color: #dada17e4 !important;
  color: #000 !important;
}

#ground {
  background-color: brown !important;
}

#normal {
  background-color: grey !important;
}

#flying {
  background-color: #92b1c6 !important;
}

#bug {
  background-color: olive !important;
}

#dark {
  background-color: darkgray !important;
}

#fighting {
  background-color: #ee6037 !important;
}

#psychic {
  background-color: #f71b90 !important;
}

#rock {
  background-color: #8a3d20 !important;
}

#steel {
  background-color: #41bc93 !important;
}

#ice {
  background-color: #85d1f4 !important;
}

#dragon {
  background-color: #438a94 !important;
}
#ghost {
  background-color: #32326a !important;
}
/* //////////// */

/* Logo */
.logo {
  display: flex !important;
  justify-content: center !important;
}
/* //////////// */
/* Pokemon Card */
.pokemonList {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  gap: 20px !important;
}

.card-body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* //////////// */
/* New Pokedex Entry */

.new-pokedex-entry {
  display: flex;
  justify-content: space-between;
}

.new-pokedex-entry button {
  margin-left: 10px;
}

.suggestions-list {
  top: 100%;
  width: 100%;
  background: white;
  border-top: none;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  /* padding: 8px; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.suggestions-list li:hover {
  background-color: #ecdcc5;
}

/* MY PARTY*/
.pokemon-entry {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45vw;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.pokemon-image {
  max-width: 150px;
  height: auto;
}

.move-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.move {
  list-style-type: none;
  text-align: left;
}

/* Pokeball that is next to each party pokemon */
.party-ball {
  width: 75px;
}
.party-ball {
  width: 75px;
}

.Modal {
  position: fixed;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: auto;
  text-align: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.success-modal {
  top: 5%;
}

.error-modal {
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Media Querys */

@media (max-width: 1100px) {
  .pokemon-entry {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .move-list {
    margin: 5px !important;
    padding: 0 !important;
  }
  .btnParty {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 1250px) {
  .card {
    width: auto !important;
    margin: 50px !important;
  }
  .card-body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .btnDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  audio {
    width: 50%;
  }
}

.pokeball-error {
  width: 200px;
  padding-right: 8px;
}

.error-header {
  font-size: 200px;
  color: #000;
}

.pokeball-error {
  width: 200px;
  padding-right: 8px;
}

.error-header {
  font-size: 200px;
  color: #000;
}
